<!DOCTYPE html>
<html>
  <head>
    <title>Pure CSS Timeline Design With Cool Hover Effects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">

  </head>
  <body>
    <div class="timeline">
      <ul>
        <li>
          <span>
            Day 1
          </span>
          <div class="content">
            <h3>
              Caleen è fuori a caccia
            </h3>
            <p>
            Caleen e Dante cacciano un leone poi tornano a casa, Caleen e Gaia litigano perchè non devono dare nell'occhio.
            Il giorno si conclude con il rituale di Giulio.
            </p>
          </div>
        </li>

        <li>
          <span>
            Day 2
          </span>
          <div class="content">
            <h3>
              Caleen combatte contro un Daebris
            </h3>
            <p>
            Caleen e Dante salvano Giulio, ma si imbatto in un Daebris. Gaia lo ammazza ma così facendo da via la sua posizione a Thoma
            </p>
          </div>
        </li>

        <li>
          <span>
            Day 3
          </span>
          <div class="content">
            <h3>
              Gaia è catturata da Thomas, entriamo in città
            </h3>
            <p>
            Gaia Dante e Caleen combattono contro Thomas ma perdono, mattina presto Caleen e Dante partono al suo inseguimento ma la perdono per un soffio. Luca salva i 2 e li accompagna in città. Calene va in comune, poi in un rifugio di senza tetti dove combatte con Galatea e infine viene arrestato.
            </p>
          </div>
        </li>

        <li>
          <span>
            Day 4
          </span>
          <div class="content">
            <h3>
              Caleen fa affari con Arturo
            </h3>
            <p>
            In cella Arturo negozia con Caleen e lo fa diventare parte della milizia. Caleen conosce Lorenzo.
            </p>
          </div>
        </li>

        <li>
          <span>
            Day 5
          </span>
          <div class="content">
            <h3>
              Caleen, Lorenzo e Dante prendono la spia
            </h3>
            <p>
            Caleen cattuara la spia ma viene preso in ostaggio da Attila ma poi finisce per fare un accordo con lui
            </p>
          </div>
        </li>

        <li>
          <span>
            Day 6
          </span>
          <div class="content">
            <h3>
              Galatea va a cercare Giovanni
            </h3>
            <p>
            Galatea cerca Giovanni, lo trova ma lo perde. Chiede quindi a Caleen di catturarlo. Caleen incontra Lorenzo e i due vanno a cercare Giovanni. Giovanni è in un bar della camorra e Caleen lo salva ma rimane a combattere contro Pietro e fanno un patto.
            Caleen ritorna da Lorenzo e Giovanni e aspetta che vadano a letto per poi catturare Giovanni che viene ucciso da Attila.
            </p>
          </div>
        </li>

        <li>
          <span>
            Day 6
          </span>
          <div class="content">
            <h3>
              Funerale di Giovanni
            </h3>
            <p>
            Si fa il funerale di Giovanni, e Caleen fa una chiacchierata seria con Galatea. Lorenzo scopre che Caleen è un traditore eva a cercare prove.
            </p>
          </div>
        </li>

        <li>
          <span>
            Day 7
          </span>
          <div class="content">
            <h3>
              Lorenzo trova prove
            </h3>
            <p>
            Attila e gli altri derubano Pietro, mentre Lorenzo entra nella casa di Attila e prende l'amuleto di Caleen
            </p>
          </div>
        </li>

        <li>
          <span>
            Day 8
          </span>
          <div class="content">
            <h3>
              Muore Lorenzo
            </h3>
            <p>
            Caleen combatte contro Lorenzo e lo uccide. Pietro e Attila organizzano per la festa
            </p>
          </div>
        </li>

        <li>
          <span>
            Day 9
          </span>
          <div class="content">
            <h3>
              Giorno del torneo
            </h3>
            <p>
            Martina scompare, Attila combatte contro Caleen, Caleen vince e scappa insieme a Galatea
            </p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
